[mastodon]
server = "https://tomkahe.com"
access_token = ""
poll_duration = 60

[gameboy]
rom = "Pokemon - Gold Version.gbc"
title = "Pokémon Gold"
gif_outline="gameboy.png"
# Modes:
# "generic": Default mode, no game-specific messages
# "gs": Adds messages with player info for Pokémon Gold/Silver Versions. May not be compatible with Crystal.
mode = "generic"
