astroid==3.1.0
blurhash==1.1.4
certifi==2024.2.2
charset-normalizer==3.3.2
decorator==4.4.2
dill==0.3.8
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
isort==5.13.2
Mastodon.py==1.8.1
mccabe==0.7.0
moviepy==1.0.3
numpy==1.26.4
pillow==10.2.0
platformdirs==4.2.1
proglog==0.1.10
pyboy==2.0.3
pylint==3.1.0
PySDL2==0.9.16
pysdl2-dll==2.30.0
python-dateutil==2.8.2
python-magic==0.4.27
requests==2.31.0
setuptools==69.1.0
six==1.16.0
toml==0.10.2
tomlkit==0.12.4
tqdm==4.66.2
urllib3==2.2.0
